*.background:	#1a1a1a
*.color0:	#1a1a1a
*.color1:	#025768
*.color2:	#0C5E69
*.color3:	#4B454D
*.color4:	#B9403D
*.color5:	#05748A
*.color6:	#5C6C93
*.color7:	#7bc7d2
*.color8:	#568b93
*.color9:	#025768
*.color10:	#0C5E69
*.color11:	#4B454D
*.color12:	#B9403D
*.color13:	#05748A
*.color14:	#5C6C93
*.color15:	#7bc7d2
*.color66:	#1a1a1a
*.foreground:	#7bc7d2
*background:	#1a1a1a
*color0:	#1a1a1a
*color1:	#025768
*color2:	#0C5E69
*color3:	#4B454D
*color4:	#B9403D
*color5:	#05748A
*color6:	#5C6C93
*color7:	#7bc7d2
*color8:	#568b93
*color9:	#025768
*color10:	#0C5E69
*color11:	#4B454D
*color12:	#B9403D
*color13:	#05748A
*color14:	#5C6C93
*color15:	#7bc7d2
*color66:	#1a1a1a
*foreground:	#7bc7d2
URxvt*background:	[100]#1a1a1a
URxvt*borderColor:	[100]#1a1a1a
URxvt*cursorColor:	#7bc7d2
URxvt*depth:	32
URxvt*foreground:	#7bc7d2
UXTerm*background:	#1a1a1a
UXTerm*cursorColor:	#7bc7d2
UXTerm*foreground:	#7bc7d2
XClock*background:	#1a1a1a
XClock*foreground:	#7bc7d2
XClock*hourColor:	rgba:7b/c7/d2/ff
XClock*majorColor:	rgba:7b/c7/d2/ff
XClock*minorColor:	rgba:7b/c7/d2/ff
XClock*minuteColor:	rgba:7b/c7/d2/ff
XClock*secondColor:	rgba:7b/c7/d2/ff
XTerm*background:	#1a1a1a
XTerm*cursorColor:	#7bc7d2
XTerm*foreground:	#7bc7d2
emacs*background:	#1a1a1a
emacs*foreground:	#7bc7d2
